/* Login and Create Account Page */
.login-page, .create-account-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#abffb7;
}

.login-container {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /*creates shadow under container */
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.login-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 16px;
    outline: none;
}

.login-container input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}


.login-container label {
    display: block;
    text-align: left;
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
}


.name-fields {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: nowrap;
    width: 100%;
}

.name-fields .input-group {
    width: 48%;
}

.login-button {
    width: 100%;
    padding: 12px;
    background: #00800b;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 15px;
}

.login-button:hover {
    background: #00520b;
}

.link-container {
    margin-top: 15px;
}

.link-container a {
    color: #ff5722;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

/* Home Page */
.home-page {
    background-color:#abffb7;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    color: white;
    padding: 15px 20px;
    position: relative;
}

header h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
}

.profile-btn {
    background: #fcfcfc;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.3s;
    margin-left: auto;
}

.profile-btn:hover {
    background: #8f8f8f;
}

.art-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px;
    justify-content: center;
}

.art-box {
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.art-box img {
    width: 100%;
    border-radius: 8px;
    max-height: 250px;
    object-fit: cover;
}

.like-button {
    margin-top: 10px;
    padding: 8px 12px;
    font-size: 16px;
    background: #00520b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 1s;
}

.like-button:hover {
    background: #abffb7;
}